.nav-bar {
  background-color: white;
  border-bottom: white solid 2px;
  padding-top: .01%;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
}